@model IEnumerable<Proyecto_MVC_Falabella.Models.Producto>

@{
    ViewBag.Title = "Productos";
}

<h2>@ViewBag.Title</h2>

@*<p>
    @Html.ActionLink("Nuevo", "Crear")
</p>*@


Cada compañía ofrece productos con primas, coberturas y asistencias distintas.

<div style="text-align:right; font-size:xx-large;">
<a style="color:#30B033;" href="@Url.Action("Crear", "Producto",null)">
<span class="glyphicon glyphicon-plus" alt="Agregar Producto" title="Agregar Producto"></span>
</a>
</div>

<br />

<table class="table table-striped" style="text-align:center;">
    <tr>
        <th style="text-align:center;">
        </th>

        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.Consecutivo)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th style="text-align:center;">
            @*@Html.DisplayNameFor(model => model.Tipo_ProductoId)*@
Tipo de Producto
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th style="text-align:center;">
Compañia
            @*@Html.DisplayNameFor(model => model.CompaniaId)*@
        </th>
        <th style="text-align:center;">
Acciones
</th>
    </tr>

@foreach (var item in Model) {
    <tr>
<td>

          <img src="@item.Imagen" style="width:150px; height:150px; object-fit: cover;" alt="Sin imagen" />

</td>

        <td>
            @Html.DisplayFor(modelItem => item.Consecutivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Producto.Nombre)
        </td>
        <td>

@if(string.IsNullOrWhiteSpace(item.Descripcion))
{
<text>N/A</text>
}
else
{
            @Html.DisplayFor(modelItem => item.Descripcion)
}

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compania.Nombre)
        </td>
        <td>
            @*@Html.ActionLink("Editar", "Editar", new { id=item.id }) |
            @Html.ActionLink("Detallar", "Detallar", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.id })*@


<a style="color:#30B033; font-size:x-large;" href="@Url.Action("Detallar", new { id=item.id })">
<span class="glyphicon glyphicon-eye-open	" alt="Detallar" title="Detallar"></span>
</a>
&nbsp;&nbsp;

<a style="color:#30B033; font-size:x-large;" href="@Url.Action("Editar", new { id=item.id })">
<span class="glyphicon glyphicon-pencil" alt="Editar" title="Editar"></span>
</a>
&nbsp;&nbsp;

<a style="color:#30B033; font-size:x-large;" href="@Url.Action("Eliminar", new { id=item.id })">
<span class="glyphicon glyphicon-trash" alt="Eliminar" title="Eliminar"></span>
</a>

        </td>
    </tr>
}

</table>

<a style="color:#30B033; font-size:xx-large;" href="@Url.Action("Panel_Control", "Contenido", null)">
<span class="glyphicon glyphicon-arrow-left	" alt="Atrás" title="Atrás"></span>
</a>